USER = 'cartodb_user'
API_KEY = ''
EXISTING_TABLE = 'my_table_with_some_data'
IMPORT_FILE="test/test.csv"
IMPORT_URL="http://acdmy.org/d/counties.zip"
NAMED_MAP_TEMPLATE="my_json_template"
NAMED_MAP_PARAMS="my_json_parameters"
