USER = 'cartodb_user'
API_KEY = ''
EXISTING_TABLE = 'my_table_with_some_data'
VIZ_EXPORT_ID = 'my_vizualization_id'
IMPORT_FILE="test/test.csv"
IMPORT_URL="http://acdmy.org/d/counties.zip"
NAMED_MAP_TEMPLATE1="my_json_template"
TEMPLATE1_NAME="my_templates_name"
TEMPLATE1_AUTH_TOKEN="my_templates_auth_token"
NAMED_MAP_TEMPLATE2="another_json_template"
NAMED_MAP_PARAMS="my_json_parameters"
