USER = 'cartodb_user'
API_KEY = ''
EXISTING_TABLE = 'my_table_with_some_data'
VIZ_EXPORT_ID = 'my_vizualization_id'
IMPORT_FILE = 'test/test.csv'
IMPORT_URL = 'http://acdmy.org/d/counties.zip'
BATCH_SQL_SINGLE_QUERY='a_single_sql_query'
BATCH_SQL_MULTI_QUERY='multiple_sql_queries_in_a_list'
