# Credentials and other settings for the test suite
#
# Make sure you put the actual values in a file called secret.py

# CARTO account, please fill in
ORGANIZATION = "mock-org"
USERNAME = "mock"
API_KEY = "mockmockmock"

# SQL API tests, please fill in
EXISTING_POINT_DATASET = "tornados"  # This must be the name of an existing dataset with points in user's account; dataset will not be modified

# Import API tests, should work out of the box
EXPORT_VIZ_ID = ""  # If empty, visualization export won't be tested. Look for a valid Id in any of your maps in the builder (something like: 83aa7dea-5888-11e6-b269-0e233c30368f)
IMPORT_FILE = "tests/test.csv"  # You can use the one that is provided with the SDK or another one
IMPORT_URL = "https://academy.cartodb.com/d/tornadoes.zip"  # Needs to be a valid URL from where a valid dataset can be downloaded

# Maps API tests, should work out of the box
NAMED_MAP_AUTH_TOKEN = "ugfhfdyt5re8treu"
NAMED_MAP_DEFINITION = {
    "version": "0.0.1",
    "name": "python_sdk_test_map",
    "auth": {
        "method": "token",
        "valid_tokens": [
            NAMED_MAP_AUTH_TOKEN
        ]
    },
    "placeholders": {
        "color": {
            "type": "css_color",
            "default": "red"
        }
    },
    "layergroup": {
        "version": "1.0.1",
        "layers": [
            {
                "type": "cartodb",
                "options": {
                    "cartocss_version": "2.1.1",
                    "cartocss": "#layer { marker-fill: <%= color %>; }",
                    "sql": "select * from {dataset}".format(dataset=EXISTING_POINT_DATASET)
                }
            }
        ]
    },
    "view": {
        "zoom": 4,
        "center": {
            "lng": 0,
            "lat": 0
        },
        "bounds": {
            "west": -45,
            "south": -45,
            "east": 45,
            "north": 45
        }
    }
}
NAMED_MAP_INSTANTIATION = {
    "color": "#ff6600"
}

ANONYMOUS_MAP_DEFINITION = {
  "version": "1.0.1",
  "layers": [
    {
      "type": "http",
      "options": {
        "urlTemplate": "http://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png",
        "subdomains": [
          "a",
          "b",
          "c"
        ]
      }
    },
    {
      "type": "cartodb",
      "options": {
        "sql": "select * from {dataset}".format(dataset=EXISTING_POINT_DATASET),
        "cartocss": "#layer{polygon-fill: #3E7BB6;polygon-opacity: 0;line-color: #FFF;line-width: 0.5;line-opacity: 1;}",
        "cartocss_version": "2.1.1",
        "interactivity": [
          "cartodb_id"
        ]
      }
    }
  ]
}

# Batch API tests, should work out of the box
BATCH_SQL_SINGLE_QUERY = "select * from {dataset}".format(dataset=EXISTING_POINT_DATASET)
BATCH_SQL_MULTI_QUERY = ["select * from {dataset} where cartodb_id < 1000".format(dataset=EXISTING_POINT_DATASET), "select * from {dataset} where cartodb_id > 1000".format(dataset=EXISTING_POINT_DATASET)]
